html,
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}

#main-nav{
    border-bottom: 1px solid #9d9d9d;
    /*position: relative;*/
    margin-bottom: 0px;
}

#main-logo{
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    /*margin-left: 50px;*/
    float: left;
}
#main-logo img{
}
.none{
    display: none;
}
#nav-label {
    bottom: 2px;
    position: absolute;
    right: 2%;
    width: auto;
}
#nav-label a{
    cursor: pointer;
}
.text-p{
    float: left;
}
#nav-label p{
    font-size: 16px;
    color: #2aabd2;
    font-family: 微软雅黑;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
#content-panel{
    height:100%;
    /*width: 100%;*/
    /*margin-top: -20px;*/
    background-color: #FFFFFF;
    /*padding-top: 100px;*/
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    overflow-y: scroll;
}
#left-nav-1{
    /*border: 1px solid #F8F8F8;*/
    height: 100%;
    /*margin-top: -20px;*/
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /*background-color: #F8F8F8;*/
}
#left-nav{
    /*border: 1px solid #F8F8F8;*/
    height: 100%;
    /*margin-top: -20px;*/
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /*background-color: #F8F8F8;*/
    position: absolute;
    left:0px;
    top:60px;
}
#left-nav a{
    width: 100%;
    height: 80px;
    margin-top: 70px;
    color: #0f0f0f;
    font-weight: bold;
    font-size: 26px;
    font-family: 微软雅黑;
}
#left-sub-nav{
    margin-top: 100px;
    margin-bottom: 100px;
}
#left-sub-nav a img{
    display: inline;
}
#left-nav-xs{
    /*border: 1px solid #F8F8F8;*/
    /*height: 100%;*/
    /*margin-top: -20px;*/
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /*background-color: #F8F8F8;*/
}

#left-nav-xs a{
    width: 100%;
    height: 80px;
    margin-top: 70px;
    color: #0f0f0f;
    font-weight: bold;
    font-size: 26px;
    font-family: 微软雅黑;
}
#left-sub-nav-xs{
    margin-top: 100px;
    margin-bottom: 100px;
}
#left-sub-nav-xs a img{
    display: inline;
}
#active-button{
    background-color: #2b669a;
}
#right-panel{
    height: 100%;
    background-color: #FFFFFF;
}
#nav-path-img{
    width: 60px;
    height: 35px;
}
#nav-path{
    background-color: #FFFFFF;
    font-family: 微软雅黑;
    font-size: 20px;
    font-weight: bold;
}
#right-panel-content{
    margin-top: 20px;
}
.analysis-img{
    margin-top: 40px;
}
#searchingButton {
    padding: 2px 5px;
}


@media (max-width: 768px) {
    .navbar-header{
        padding: 0px 5px;
    }
    #nav-label p{
        font-size: 14px;
        color: #2aabd2;
        font-family: 微软雅黑;
        font-weight: bold;
        margin: 2px 0;
    }
    #nav-label {
        display: none;
        margin-top: 0px;
    }
    #main-logo{
        padding: 0 0;
    }
    #main-logo img{
        height: 40px;
        float: left;
    }
    #nav-xs-icon{
        display:inline;
        padding: 5px 0px;
        margin: 0 0;
    }
    .nav-button{
        padding: 6px 5px;
    }
    #nav-collapsed-button{
        padding: 6px 7px;
    }
    #left-nav{
        /*border: 1px solid #000000;*/
        /*height: auto;*/
        /*margin-top: -20px;*/
        /*padding-left: 20px;*/
        /*padding-right: 20px;*/
        /*background-color: #F8F8F8;*/
    }
    #left-nav a{
        min-width: 180px;
        width: 60%;
        height: 40px;
        margin-top: 5px;
        color: #0f0f0f;
        font-weight: bold;
        font-size: 14px;
        font-family: 微软雅黑;
    }
    #left-sub-nav{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #left-sub-nav a img{
        display: inline;
        height: 100%;
    }
    #left-nav-xs a{
        min-width: 180px;
        width: 60%;
        height: 40px;
        margin-top: 5px;
        color: #0f0f0f;
        font-weight: bold;
        font-size: 14px;
        font-family: 微软雅黑;
    }
    #left-sub-nav-xs{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #left-sub-nav-xs a img{
        display: inline;
        height: 100%;
    }
    #nav-path{
        font-size: 14px;
        padding: 10px 5px;
    }
    #nav-path-img{
        width: 70px;
        height: 40px;
    }
    #goods-name{
        margin-bottom: 5px;
    }
    .goods-introduction-p{
        margin-bottom: 2px;
        font-size: 11px;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    #nav-label p{
        font-size: 16px;
        color: #2aabd2;
        font-family: 微软雅黑;
        font-weight: bold;
    }
    #left-sub-nav{
        margin-top: 80px;
    }
    #left-nav a{
        width: 100%;
        height: 60px;
        margin-top: 50px;
        color: #0f0f0f;
        font-weight: bold;
        font-size: 18px;
        font-family: 微软雅黑;
    }
    #left-sub-nav a img{
        height: 100%;
    }
    #nav-path-img{
        width: 60px;
        height: 35px;
    }
    #nav-path{
        font-size: 20px;
    }
    #goods-url-p span{
        font-size: 12px;
    }
}
@media screen and (min-width: 993px) and (max-width: 1200px){
    #left-nav a{
        width: 100%;
        height: 60px;
        margin-top: 50px;
        color: #0f0f0f;
        font-weight: bold;
        font-size: 23px;
        font-family: 微软雅黑;
    }
    #left-sub-nav a img{
        height: 100%;
    }
}
